
body {
  margin: 0;
  background: #222;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  text-align: center;
}
h1 {
  color: gray;
}

#connect4 {
  background-color: aquamarine;
  display: inline-block;
  border-radius: 10px;
  padding: 10px;
}

.col {
  width: 70px;
  height: 70px;
  display: inline-block;
  background-color: rgb(182, 182, 182);
  border-radius: 50%;
  margin: 5px;
}

.col.empty {
  cursor: pointer;
}

.next-player1 {
  background-color: rgba(255, 0, 0, 0.2);
}

.next-player2 {
  background-color: rgba(0, 0, 0, 0.2)
}

.col.player1 {
  background-color: red;
}

.col.player2 {
  background-color: black;
}


/*navbar*/
header {
  background: aquamarine;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

nav {
  text-align:center;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 25px;
  padding-bottom: 25px;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #000;
}

/*Footer*/
footer {
  text-align:center;
  background-color: rgb(214, 190, 123);
  position:absolute;
   bottom:0;
   width:100%;
   height:60px;
}

footer p {
  display: inline-block;
}