*{
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background: #222;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
}
.wrapper {
  margin-top: 100px;
}


@media only screen and (min-width:) {

}


/*navbar*/
header {
  background: aquamarine;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

nav {
  text-align:center;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 25px;
  padding-bottom: 25px;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #000;
}

/*Home Page*/
.homeContent {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 2rem;
}

.homeContent p{
  color: gray;
  margin: 20px;
}

.box1{
  text-align: center;
}

.startButton{
  margin: 50px;
  font-size: 2rem;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid aquamarine;
}

.startButton:hover {
  background-color: rgb(149, 149, 149);
  border: 2px solid rgb(74, 148, 123);
}
.connect4Image {
  max-width: 200px;
}

/*Rules Page*/
.rulesContent {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 2rem;
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

.rulesContent p {
  color: gray;
  margin: 20px;
}

/*Footer*/

footer {
  text-align:center;
  background-color: rgb(214, 190, 123);
  position:absolute;
   bottom:0;
   width:100%;
   height:60px;
}

footer p {
  display: inline-block;
}

/*Name form*/

.form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nameForm {
  background-color: white;
  padding: 50px;
  border-radius: 10px;
  border:2px solid aquamarine;
}

.nameForm input {
  margin: 10px;
  font-size: 20px;
  background-color: aquamarine;
  color: black;
}

.nameForm p {
  text-align: center;
  font-size: 25px;
  color: rgb(41, 41, 41);
}